body {
	font-family: Arial, Helvetica, sans-serif;
}

#display {
	background: gray;
	padding: 1em;
}

.hidden {
	display: none;
}

#display .segment {
	fill: #333;
}

#display.home .seg-on {
	fill: yellow;
}

#display.away .seg-on {
	fill: red;
}

button {
	margin-left: 1em;
}